#div-header
{
   background-color: aqua;
   text-align: justify;
   height:20%;
	top: 15%;
}

#div-logo 
{
    background-color: #3ea74f;
    height:100%;
    width:20%;
    float:left;
	color: #3cbe97;
	text-transform: capitalize;
	text-align: left;
}

#div-title
{
	font-style:italic;
	color: #1643e0;
	font-size: 40px;
	line-height: 150px;
	font-variant: normal;
	text-align: center;
	box-shadow: 0 0 1px #ffffff;
}

#div-nav
{
    height:5%;
    width:100%;
    font-style:italic;
    font-size: 30px;
	font-variant: small-caps;
	text-align: center;
	text-transform: uppercase;
	color: #22cfb0;
}

#div-body
{
    width: 100%;
    background-color:greenyellow;
    height: 100%;
	font-variant: small-caps;
	color: #75d9c7;
	text-align: center;
	font-style: italic;
	text-transform: capitalize;
} 

#div-footer
{
	height:5%;
    background-color:limegreen;
	text-transform: uppercase;
	font-size: 15px;
	float: none;
	font-variant: small-caps;
	color: blue;
	font-style: italic;
	text-shadow: 0 0 1px #6a4ee2;
	text-align: center;
}
