#div-header
{
   background-color: aqua;
   text-align: justify;
   height:20%;
	top: 15%;
}

#div-logo 
{
    background-color:yellow;
    height:100%;
    width:20%;
    float:left;
}

#div-title
{
	font-style:italic;
	color: #1643e0;
	font-size: 40px;
	line-height: 150px;
	font-variant: normal;
	text-align: center;
}

#div-nav
{
    height:5%;
    width:100%;
    font-style:italic;
    font-size: 30px;
	font-variant: small-caps;
	text-align: center;
	text-transform: uppercase;
	color: #22cfb0;
}

#div-body
{
    width: 100%;
    background-color:greenyellow;
    height: 100%;
	font: small-caps;
	font-size :10 "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #22cfb0;
	text-align: center;
	text-transform: capitalize;
} 

#div-footer
{
	height:5%;
    background-color:limegreen;
	text-align: center;
	text-transform: uppercase;
	font-style: italic;
	font-size: 15px;
	float: none;
	clear: both;
	font-variant: small-caps;
}
